/* -------------------------------- 
Modules - reusable parts of our design（横向表格项目样式）
-------------------------------- */
#cd-table .cd-unchecked span, #cd-table .cd-checked span {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
/* -------------------------------- 
Main components 
-------------------------------- */
#cd-table {
  position: relative;
  width: clac(100%-1px);
  max-width: 1170px;
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom:10px;
  border-right: 1px solid #a7c2a3;
  border-bottom: 1px solid #a7c2a3;
}
#cd-table::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-table::before {
  /* White color gradient on the right */
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  height: 100%;
  width: 35px;
  background: -webkit-linear-gradient( right , white 10%, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, white 10%, rgba(255, 255, 255, 0));
  z-index: 5;
  pointer-events: none;
}
.no-cssgradients #cd-table::before {
  /* remove the gradient using modernizr if css gradients are not supported */
  display: none;
}
#cd-table.table-end::before {
  /* the gradient disappears when user is at the end of the table */
  display: none;
}
#cd-table .cd-table-container {
  position: relative;
  width: 100%;
  overflow-x: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
#cd-table .cd-table-wrapper {
  width: 768px;
  padding-left: 140px;
}
#cd-table .cd-table-column {
  /*每个属性名字盒子的宽*/
  width: 108px;
  float: left;
  border: 1px solid #a7c2a3;
  margin-left: -1px;
}
#cd-table .cd-table-column:last-child {
  border-right: none;
}
#cd-table h2, #cd-table ul > li {
  position: relative;
  text-align: center;
  padding: 0 1em;
  border-bottom: 1px solid #a7c2a3;
  height: 42px;
  line-height: 42px;
  background-color:#f2f7f1;
  list-style-type: none; 
}
#cd-table h2 {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  background-color: #ddead9;
}
#cd-table ul > li {
  color: #000;
  list-style-type: none; 
}
#cd-table ul > li:nth-child(odd) {
  background-color: #fff;
  list-style-type: none; 
}
#cd-table ul > li:last-child {
  border-bottom: none;
  list-style-type: none; 
}
#cd-table .cd-unchecked span, #cd-table .cd-checked span {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("images/yes-no.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 32px 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#cd-table .cd-unchecked span {
  background-position: -16px 0;
}
#cd-table .cd-select {
  display: block;
  height: 100%;
  width: 100%;
  font-weight: bold;
}
#cd-table header.cd-table-column {
  position: absolute;
  width: 140px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: #f2f7f1;
  margin-left: 0;
  border-right:1px solid #A7C2A3;
  pointer-events: none;
}
#cd-table ul, #cd-table ol{padding: 0px;}
#cd-table header.cd-table-column h2, #cd-table header.cd-table-column li {
	background-color: transparent;
	text-align: left;
	color: #000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-bottom-color: #b4bcb1;
	list-style-type: none;  
}
#cd-table header.cd-table-column h2 {
  color: #000;
}
#cd-table header.cd-table-column li:nth-child(odd) {
  background-color: #fff;
}
#cd-table header.cd-table-column li:last-child {
  border-bottom: 1px solid #b4bcb1;
}
#cd-table .cd-scroll-right {
  /* small right arrow that indicates it's possible to scroll right */
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  background: url("images/small-arrow.svg") no-repeat center center;
  z-index: 6;
  -webkit-animation: cd-scroll-right 1.5s infinite;
  -moz-animation: cd-scroll-right 1.5s infinite;
  animation: cd-scroll-right 1.5s infinite;
}