.mainRight-tab-conW{
	height: 100% !important;
}
.mainRight-tab-conW .tab-top{
	height: 30% !important;
}
.mainRight-tab-conW .tab-pages{
	height: 51% !important;
}
.mainRight-tab-conW .pages{
	height: 10% !important;
}