* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

select, input {
	font-family: '微软雅黑', arial, sans-serif;
	font-size: 14px;
	color: #464646;
}

body {
	background-color: white;
}
.mainRight-tab-conW-S {
	width: 100%;
}
.search {
	height: 36px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	top: 8px;
}

.search_1 {
	width: 32%;
}
.search_2 {
	width: 50%;
}
.search_3 {
	width: 69%;
	min-width: 760px;
}

.business {
	width: 210px;
	margin-right: 2%;
	height: 36px;
	border: 1px solid #aaa;
	float: left;
}

.business .label {
	width: 80px;
	background-color: #cae6fb;
	display: inline-block;
	height: 34px;
	border-right: 1px solid #aaa;
	line-height: 34px;
	float:left;
	text-align: center;
}
.business input {
	height: 34px;
	border: 0px;
	line-height: 34px;
	width: 128px;
	float:left;
}
.business select {
	width: 128px;
	height: 34px;
	border: 0px;
	line-height: 34px;
	float:left;
}
.business select>option {
	height: 34px;
	line-height: 34px;
}

.search-box {
	width: 80px;
	float: left;
	height: 36px;
	border: 1px solid #aaa;
}


.search-box .s-btn {
	-webkit-appearance: none;
	background-color: #cae6fb;
	width: 80px;
	height: 34px;
	border: 0;
	font-size: 14px;
	color: #464646;
	letter-spacing: 6px;
	cursor: pointer;
	outline: none;
	vertical-align: top;
	border-left: 1px solid #aaa;
	float: right;
}
.select2-container {
	position: relative;
	top: -2px;
	left: -4px;
}
.select2-container--default .select2-selection--single {
	border-radius:0px !important;
}