<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FieldDao">
	<resultMap id="BaseResultMap" type="com.sg.model.Field">
		<id column="EID" property="eid" />
		<result column="NAME" property="name" />
		<result column="TYPE" property="type" />
		<result column="KIND" property="kind" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		EID, NAME, TYPE, KIND, DATE_FORMAT(CREATE_TIME,'%Y-%m-%d') CREATE_TIME, DATE_FORMAT(UPDATE_TIME,'%Y-%m-%d %H:%i:%s') UPDATE_TIME

	</sql>

	<insert id="insert" parameterType="com.sg.model.Field" useGeneratedKeys="true" keyProperty="eid">
		insert into T_FIELD (
			NAME, TYPE, KIND, CREATE_TIME

		) values (
			#{name}, #{type}, #{kind}, now()

		)
	</insert>

	<select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from T_FIELD
		where EID = #{eid}
	</select>

	<update id="update" parameterType="com.sg.model.Field">
		update T_FIELD
		<set>
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="type != null">
				TYPE = #{type},
			</if>
			<if test="kind != null">
				KIND = #{kind},
			</if>
				UPDATE_TIME = now()
		</set>
		where EID = #{eid}
	</update>

	<select id="findTypeData" resultType="java.util.Map">
		select EID eid, NAME name
		from T_FIELD
		where 1 = 1
		<if test="type != null">
			and KIND = #{type}
		</if>
	</select>


</mapper>